/*--------------------
CSS created by Florence Wong :);
--------------------*/
@font-face {
  font-family: Selima;
  src: url("fonts/selima.otf"); }
/*--------------------begin WordPress stuff--------------------*/
/*				(just in case I want to use it)				*/
/* line 4, ../sass/elements/_index.scss */
/* line 4, ../sass/settings/_wordpress.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 20, ../sass/settings/_wordpress.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 27, ../sass/settings/_wordpress.scss */
[hidden],
template {
  display: none; }

/* line 5, ../sass/settings/_index.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, ../sass/elements/_index.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 7, ../sass/elements/_index.scss */
body {
  /*background-image: url("feet.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: #fafafa;
  color: #545454;
  font-family: Open Sans, Raleway, Corbel, Futura, Helvetica Neue, Arial, Courier, Helvetica;
  text-align: center;
  margin: 0;
  /*top right bottom left*/
  overflow-x: hidden; }

/*--------------------Links--------------------*/
/* line 22, ../sass/elements/_index.scss */
a {
  color: #00a078;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 31, ../sass/elements/_index.scss */
a:hover {
  color: orange; }

/*--------------------H Fonts--------------------*/
/* line 37, ../sass/elements/_index.scss */
h1,
h2 {
  font-family: Unica One, Voltaire, Corbel, Helvetica, Arial;
  text-align: center; }

/* line 43, ../sass/elements/_index.scss */
h2 {
  font-size: 30px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  color: #00a078; }

/* line 53, ../sass/elements/_index.scss */
h2:hover {
  font-size: 35px; }

/* line 57, ../sass/elements/_index.scss */
h3 {
  font-family: Corbel, Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.4em; }

/* line 64, ../sass/elements/_index.scss */
h4 {
  font-family: Open Sans, Helvetica;
  font-size: 13px;
  line-height: 1.4em;
  text-align: left; }

/* line 71, ../sass/elements/_index.scss */
ul {
  text-align: left; }

/* line 2, ../sass/site/_header.scss */
#header {
  background-color: #fafafa;
  /*background-image: url("feet.jpg");*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #545454;
  text-align: right;
  padding: 20px 0px 15px 0px;
  /* top right bottom left */
  /*font-size: 30px;*/
  position: fixed;
  width: 100%;
  margin: auto auto;
  z-index: 99;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center; }

/* line 35, ../sass/site/_header.scss */
#title_florencewong,
#title_flowong {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 35px;
  color: purple;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

/* line 49, ../sass/site/_header.scss */
#title_florencewong:hover,
#title_flowong:hover {
  /* color: rgb(255,190,120); */
  /* faint orange */
  color: #faa03c; }

/* line 56, ../sass/site/_header.scss */
#title_flowong {
  display: block; }

/* line 59, ../sass/site/_header.scss */
#title_florencewong {
  display: none; }

@media only screen and (min-width: 955px) {
  /* line 64, ../sass/site/_header.scss */
  #title_flowong {
    display: none; }

  /* line 67, ../sass/site/_header.scss */
  #title_florencewong {
    display: block; } }
/*--------------------Menu / Navigation--------------------*/
/*----------begin computer menu----------*/
/* line 4, ../sass/site/_nav.scss */
.nav {
  position: absolute;
  right: 5%;
  display: inline-block;
  z-index: 1; }

/* line 11, ../sass/site/_nav.scss */
.nav-list {
  /* margin: 0px 20px 0px 300px; */
  /* top right bottom left */
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: rgba(250, 250, 250, 0.9); }

/* line 23, ../sass/site/_nav.scss */
.nav-list .nav-item {
  display: inline-block;
  text-transform: lowercase;
  text-align: center;
  zoom: 1;
  /* see what this means */ }

/* line 30, ../sass/site/_nav.scss */
.nav-list .nav-item a {
  display: inline-block;
  padding: 5px 20px;
  /* top/bottom 5px, left/right 20px */
  font-family: Unica One, Poiret One, Voltaire, Corbel, Arial;
  font-size: 20px;
  color: #545454;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

/* line 43, ../sass/site/_nav.scss */
.nav-list .nav-item a:hover {
  font-weight: normal;
  font-size: 20px;
  color: orange; }

/* selected page */
/* line 50, ../sass/site/_nav.scss */
.nav-list .selected {
  text-transform: uppercase;
  color: #82f0d2; }

/* dropdown ---- REVISION: make everything drop down centered vertically */
/* line 56, ../sass/site/_nav.scss */
.nav-list ul {
  display: none;
  /* blank dropdown without hover */
  position: absolute;
  /* does this do anything? */
  list-style-type: none;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
  text-align: left;
  padding: 0;
  width: 220px; }

/* setting style of all UL elements that are children of .nav-item on hover*/
/* line 69, ../sass/site/_nav.scss */
.nav-list .nav-item:hover > ul {
  display: block;
  font-size: 16px;
  background-color: rgba(250, 250, 250, 0.9); }

/* line 74, ../sass/site/_nav.scss */
.nav-list .sub:hover {
  /* .sub for dropdown submenu items */
  font-size: 16px;
  /* maintain same font size for drop down */
  /*NOTE:???? check why above isn't showing*/
  display: block;
  left: auto;
  right: 0; }

/* line 81, ../sass/site/_nav.scss */
.nav-list ul.last {
  /* do something so that last dropdown will fit?? */ }

/* end dropdown */
/*----------mobile menu----------*/
/* line 88, ../sass/site/_nav.scss */
.nav-mobile {
  display: none;
  /* hide from browsers that don't support media queries */
  cursor: pointer;
  position: fixed;
  padding: 0px 10px;
  top: 20px;
  right: 0;
  font-size: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

@media only screen and (min-width: 768px) {
  /* line 102, ../sass/site/_nav.scss */
  .nav-mobile {
    right: 5%; } }
@media only screen and (max-width: 768px) {
  /* line 108, ../sass/site/_nav.scss */
  .nav-mobile {
    display: block;
    /* show .nav-mobile icon */
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }

  /* line 116, ../sass/site/_nav.scss */
  .nav-mobile:hover {
    color: #82f0d2; }

  /* line 119, ../sass/site/_nav.scss */
  .nav {
    /*width: 100%;*/
    /* don't cover up title link */
    padding: 40px 0 0; }

  /* line 124, ../sass/site/_nav.scss */
  .nav-list {
    display: none;
    /* hide menu list */ }

  /* line 127, ../sass/site/_nav.scss */
  .nav-item {
    width: 100%;
    float: none; }

  /* line 131, ../sass/site/_nav.scss */
  .nav-item a {
    padding: 10px; }

  /* line 134, ../sass/site/_nav.scss */
  .nav-item:first-child a {
    border-radius: 5px 0 0; }

  /* line 137, ../sass/site/_nav.scss */
  .nav-item:last-child a {
    border-radius: 0 0 5px 5px; }

  /* line 140, ../sass/site/_nav.scss */
  .nav-active {
    display: block; }

  /* line 143, ../sass/site/_nav.scss */
  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    /* for rounded border corners */
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0; } }
/*----------end mobile menu----------*/
/*--------------------end Menu--------------------*/
/*--------------------Footer--------------------*/
/* line 3, ../sass/site/_footer.scss */
#footer {
  clear: both;
  padding: 0px 0px;
  background-color: rgba(250, 250, 250, 0.9);
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: auto auto;
  width: 100%;
  letter-spacing: 1.5px; }

/* line 21, ../sass/site/_footer.scss */
ul.media {
  list-style-type: none;
  margin: 0;
  padding-left: 5%; }

/* line 26, ../sass/site/_footer.scss */
ul.media li {
  float: left;
  position: relative;
  padding: 13px 1%; }

/* line 31, ../sass/site/_footer.scss */
ul.media li a.contact_icon {
  display: block;
  color: rgba(84, 84, 84, 0.75);
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 43, ../sass/site/_footer.scss */
ul.media li a.contact_icon:hover {
  color: teal; }

/* line 47, ../sass/site/_footer.scss */
#copyright {
  display: block;
  float: right;
  right: 20px;
  margin: 0px 0px;
  line-height: normal;
  text-align: right;
  color: #545454;
  font-size: 10px;
  font-family: Voltaire;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 64, ../sass/site/_footer.scss */
#copyright:hover {
  color: black; }

/*--------------------Container stuff--------------------*/
/* line 2, ../sass/components/_containers.scss */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 77.8px 0px 60px 0px;
  color: #545454;
  background-color: #fafafa;
  line-height: 1.7em; }

/* line 13, ../sass/components/_containers.scss */
#content {
  padding: 0px 30px;
  background-color: none;
  max-width: 100%;
  height: 100%;
  margin: 0; }

/* line 24, ../sass/components/_containers.scss */
#parallax_portrait {
  background-image: url("../img/oil/selfportrait_4.jpg");
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/*--------------------For text layout--------------------*/
/* line 3, ../sass/components/_text.scss */
.main-text {
  width: 552px;
  min-width: 232px;
  max-width: 100%;
  padding: 50px 12% 0px;
  margin-left: auto;
  margin-right: auto;
  /* to center text */
  text-align: left;
  color: #545454; }

@media only screen and (min-width: 815px) {
  /* line 19, ../sass/components/_text.scss */
  .main-text {
    width: 66%;
    max-width: 600px;
    padding: 100px 50px; }
    /* line 24, ../sass/components/_text.scss */
    .main-text h2 {
      font-size: 50px; } }
/*--------------------for specific art project pages--------------------*/
/* line 2, ../sass/components/_scroll-gallery.scss */
#content_art {
  white-space: nowrap;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden; }

/* line 9, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_container {
  display: inline-block;
  position: relative;
  /*height: 500px;*/
  width: 100%; }

/* DEFAULT (mobile): make scroll gallery text and photos on top of each other? */
/* line 17, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_text {
  vertical-align: top;
  /*float: left;*/
  /*left: 0;*/
  padding: 40px;
  background-color: rgba(250, 250, 250, 0.9); }

/* line 25, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_container .title {
  white-space: normal;
  font-family: Selima;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

/* line 33, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_container .title-main {
  font-family: Selima;
  font-size: 32px;
  padding-bottom: 12px; }

/* line 39, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_container .title-info {
  font-size: 14px;
  font-family: Libre Baskerville;
  font-style: italic;
  letter-spacing: 0.6px; }

/* line 46, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_container .description {
  text-align: left;
  font-family: 'Libre Baskerville', Open Sans, Helvetica, sans-serif;
  /*font-size: 16px;
  line-height: 28px;*/ }

/* line 53, ../sass/components/_scroll-gallery.scss */
#art_title_filler {
  position: absolute;
  left: 0;
  height: 500px;
  width: 300px;
  padding: 0;
  background-color: rgba(250, 250, 250, 0.9); }

/* line 62, ../sass/components/_scroll-gallery.scss */
#art_title {
  padding: 40px;
  white-space: normal;
  /* for title */
  font-family: Selima;
  font-size: 26px;
  letter-spacing: 1px; }

/* line 72, ../sass/components/_scroll-gallery.scss */
#art_title h3 {
  /* clean this up (make labels clearer) */
  font-family: Open Sans, Helvetica;
  font-size: 13px; }

/* line 77, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_art {
  /*vertical-align: top;*/
  /*width: 67%; /* for larger screens (scroll overflow-x setup) */
  /*height: 80vh;*/
  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden; }

/* line 87, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_art ul {
  padding: 0;
  white-space: nowrap;
  list-style: none;
  display: block;
  text-align: center; }

/* line 95, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_art li .art-description {
  text-align: left;
  max-width: 400px;
  white-space: normal;
  padding: 30px 20px;
  height: 85%;
  overflow-y: scroll;
  font-family: Libre Baskerville; }

/* line 108, ../sass/components/_scroll-gallery.scss */
.scroll-gallery_art img {
  width: 90%;
  height: auto; }

/* line 118, ../sass/components/_scroll-gallery.scss */
#scroll-gallery_art {
  /*vertical-align: top;*/
  /*width: 67%; /* for larger screens (scroll overflow-x setup) */
  /*height: 80vh;*/
  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden; }

/* line 128, ../sass/components/_scroll-gallery.scss */
#scroll-gallery_art ul {
  padding: 0;
  white-space: nowrap;
  list-style: none;
  display: block; }

/* line 135, ../sass/components/_scroll-gallery.scss */
#scroll-gallery_art li {
  text-align: center; }

/* line 138, ../sass/components/_scroll-gallery.scss */
#scroll-gallery_art img {
  width: 90%;
  height: auto; }

/* text on image mouseover - but does not horizontal scroll anymore when implemented

.scroll .caption {
	position: relative;
	bottom: 30px;
	left: 0px;
	visibility: hidden;
}

.scroll:hover .caption {
	visibility: visible;
}

*/
/* landscape and larger width screens: horizontal-scroll */
@media only screen and (min-width: 768px) {
  /* line 164, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_text {
    display: inline-block;
    width: 30%;
    min-width: 300px;
    height: 80vh; }

  /* line 171, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_text .description {
    height: 70%;
    /* maybe have a more elegant responsive solution */
    overflow-y: scroll; }

  /* line 175, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_art {
    vertical-align: top;
    display: inline-block;
    width: 67%;
    height: 80vh; }

  /* line 181, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_art ul {
    margin-right: -999em; }

  /* line 185, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_art li {
    height: 80vh;
    float: left;
    display: inline-block; }

  /* line 191, ../sass/components/_scroll-gallery.scss */
  .scroll-gallery_art img {
    display: inline;
    max-height: 100%;
    width: auto;
    height: auto\9;
    /* for Internet Explorer */
    object-fit: contain;
    margin-right: 6px; }

  /* line 199, ../sass/components/_scroll-gallery.scss */
  #scroll-gallery_art {
    vertical-align: top;
    display: inline-block;
    width: 67%;
    height: 80vh; }

  /* line 205, ../sass/components/_scroll-gallery.scss */
  #scroll-gallery_art ul {
    margin-right: -999em; }

  /* line 209, ../sass/components/_scroll-gallery.scss */
  #scroll-gallery_art li {
    height: 80vh;
    float: left;
    display: inline-block; }

  /* line 215, ../sass/components/_scroll-gallery.scss */
  #scroll-gallery_art img {
    display: inline;
    max-height: 100%;
    width: auto;
    height: auto\9;
    /* for Internet Explorer */
    object-fit: contain;
    margin-right: 6px; } }
/* what was i thinking to do with this? */
/*--------------------end Scroll gallery (specific art gallery pages) styling--------------------*/
/*--------------------
Adapted by Flo Wong:

Portfolio for index page using Isotope JS;
properties: filter & masonry grid layout.

See tutorial http://www.9bitstudios.com/2013/04/jquery-isotope-tutorial/
--------------------*/
/*--------------------portfolio Filter--------------------*/
/* line 13, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioFilter {
  padding: 15px; }

/* line 17, ../sass/components/_isotope-portfolio-grid.scss */
#artPortfolio {
  padding-top: 100px;
  /* for the scroll button; lands so that header/title only covers the blank padding top part */ }

/* line 21, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContent {
  /*  left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */ }

/* line 29, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioFilter a {
  margin: 0px 15px;
  font-family: Unica One, Poiret One, Voltaire, Corbel, Arial;
  font-size: 18px;
  letter-spacing: 2px;
  color: #666;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

/* line 43, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioFilter a.current {
  font-weight: bold;
  text-transform: uppercase;
  color: #82f0d2; }

/* line 49, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioFilter a:hover {
  /*font-size: 20px;*/
  color: turquoise; }

/*--------------------end portfolioFilter--------------------*/
/*--------------------begin portfolioContainer--------------------*/
/* line 59, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer {
  width: 95%;
  margin: 0 auto; }

/* line 64, ../sass/components/_isotope-portfolio-grid.scss */
.grid-sizer, .grid-item {
  width: 30%;
  min-width: 280px; }

/* line 69, ../sass/components/_isotope-portfolio-grid.scss */
figure {
  margin: 0px; }

/* line 73, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer img {
  margin: 5px;
  width: 100%; }

/* line 78, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade {
  margin: 0;
  overflow: hidden;
  position: relative; }

/* line 84, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade figcaption {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  /* of the table... fix it to just the image */
  height: 100%;
  /* of the table */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  color: white;
  font-family: Unica One;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

/* line 118, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade figcaption span {
  padding: 20px;
  /* for caption titles inside box */
  display: table-cell;
  position: relative;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  /* Safari */
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/* line 134, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade figcaption:hover {
  opacity: 1; }

/* line 138, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade figcaption:hover span {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  font-size: 20px; }

/* line 147, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade img {
  display: block;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 157, ../sass/components/_isotope-portfolio-grid.scss */
.portfolioContainer .fade li:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  /* doesn't work? */ }

/*--------------------end portfolio Container--------------------*/
/*--------------------begin other--------------------*/
/* line 169, ../sass/components/_isotope-portfolio-grid.scss */
img {
  margin: 5px; }

/* line 173, ../sass/components/_isotope-portfolio-grid.scss */
.isotope-item {
  z-index: 2; }

/* line 176, ../sass/components/_isotope-portfolio-grid.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/* line 180, ../sass/components/_isotope-portfolio-grid.scss */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

/* line 188, ../sass/components/_isotope-portfolio-grid.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

/* line 193, ../sass/components/_isotope-portfolio-grid.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/*--------------------end other--------------------*/
/*-------------------- BUTTONS --------------------*/
/*-------------------- Toggle --------------------*/
/* line 6, ../sass/components/_buttons.scss */
a.toggle-description:hover > img {
  opacity: 0.7; }

/* line 10, ../sass/components/_buttons.scss */
a.toggle-description {
  cursor: pointer; }

/*
a.toggle-description-button {
	position: absolute;
	z-index: 2;
	top: 50%;
	-webkit-transform: translateY(-12px);
	    -moz-transform: translateY(-12px);
    	-ms-transform: translateY(-12px);
    	-o-transform: translateY(-12px);
		transform: translateY(-12px);
	width: 24px;
	height: 24px;
	padding: 30px;
	background-color: rgba(1,1,1,0.5);
}
	a.toggle-description-button span {
		position: absolute;
		top: 32%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid white;
		border-bottom: 1px solid white;

		box-sizing: border-box;
		    -webkit-transition: all .5s ease;
	    	-moz-transition: all .5s ease;
	    	-ms-transition: all .5s ease;
	    	-o-transition: all .5s ease;
	    	transition: all .5s ease;

	    -webkit-transform: translateX(-36px);
	    	-moz-transform: translateX(-36px);
    		-ms-transform: translateX(-36px);
    		-o-transform: translateX(-36px);
			transform: translateX(-36px);
	}

	*/
/*-------------------- Scroll Buttons --------------------*/
/* line 58, ../sass/components/_buttons.scss */
.scroll-container {
  text-align: center; }

/* line 61, ../sass/components/_buttons.scss */
a.scroll-button {
  /* !!! also, only show this with the horizontal gallery */
  position: absolute;
  z-index: 2;
  /*float: right;*/
  -webkit-transform: translateY(-12px);
  /* half of height, so middle of button is in the middle of div */
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px); }

/* line 77, ../sass/components/_buttons.scss */
a.scroll-left, a.scroll-right {
  top: 50%;
  /* consider making all scroll buttons at bottom */ }

/* line 81, ../sass/components/_buttons.scss */
a.scroll-right {
  right: 15px; }

/* line 85, ../sass/components/_buttons.scss */
a.scroll-down {
  text-align: center;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

/* line 95, ../sass/components/_buttons.scss */
a.scroll-button span {
  position: absolute;
  float: right;
  top: 32%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid purple;
  border-bottom: 2px solid purple;
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

/* line 113, ../sass/components/_buttons.scss */
a.scroll-left span {
  right: 20%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 122, ../sass/components/_buttons.scss */
a.scroll-right span {
  right: 40%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* line 131, ../sass/components/_buttons.scss */
a.scroll-down span {
  top: 20%;
  right: 28%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 141, ../sass/components/_buttons.scss */
a.scroll-button:hover > span {
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
  /* !!! background-color changes, but not "color".
  find out what causes this line color */ }

/*----------- demo: CSS scroll down button -----------*/
/* line 154, ../sass/components/_buttons.scss */
#section07 a {
  padding-top: 80px; }

/* line 157, ../sass/components/_buttons.scss */
#section07 a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin-left: -12px;
  border-left: 2px solid purple;
  border-bottom: 2px solid purple;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box; }

/* line 173, ../sass/components/_buttons.scss */
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

/* line 177, ../sass/components/_buttons.scss */
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s; }

/* line 182, ../sass/components/_buttons.scss */
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*----------- end scroll down button -----------*/
/* Read More button: from http://cssdeck.com/labs/css-only-showhide */
/* line 223, ../sass/components/_buttons.scss */
article {
  /*margin-bottom: 3rem;*/
  position: relative;
  *zoom: 1; }

/* line 229, ../sass/components/_buttons.scss */
article:before, article:after {
  content: "";
  display: table; }

/* line 234, ../sass/components/_buttons.scss */
article:after {
  clear: both; }

/* line 236, ../sass/components/_buttons.scss */
section:first-of-type {
  /*float: right;*/ }

/* line 240, ../sass/components/_buttons.scss */
section:last-of-type {
  display: none;
  visibility: hidden; }

/* line 245, ../sass/components/_buttons.scss */
section {
  -webkit-transition: .125s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: .125s linear; }

/* line 253, ../sass/components/_buttons.scss */
section h3 {
  margin: 0; }

/* line 257, ../sass/components/_buttons.scss */
input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

/* line 268, ../sass/components/_buttons.scss */
[for="read_more"] {
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 90%;
  text-align: center;
  padding: 0.65rem;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 283, ../sass/components/_buttons.scss */
[for="read_more"]:hover {
  background: rgba(30, 180, 200, 0.5);
  color: white; }

/* line 288, ../sass/components/_buttons.scss */
[for="read_more"] span:last-of-type {
  display: none;
  visibility: hidden; }

/* line 293, ../sass/components/_buttons.scss */
input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  width: 100%; }

/* line 299, ../sass/components/_buttons.scss */
input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
  display: none;
  visibility: hidden; }

/* line 304, ../sass/components/_buttons.scss */
input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
  display: block;
  visibility: visible; }

/* -------------------- end "Read More" styling --------------------*/
/*--------------------contact--------------------*/
/* line 3, ../sass/components/_contact.scss */
#contact-filler {
  float: center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/oil/selfportrait_4.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/oil/selfportrait_4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/oil/selfportrait_4.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fafafa; }

/* line 14, ../sass/components/_contact.scss */
#contact-filler h2, #contact-filler .main-text {
  color: #fafafa; }

/* line 18, ../sass/components/_contact.scss */
#contact-filler .contact-form__container {
  padding: 10px 0;
  text-align: right; }

/* line 23, ../sass/components/_contact.scss */
#contact-filler .contact-form__form {
  width: 90%; }

/* media query for contact-form:
		under width: 485, have on separate rows
 		over width: 485, have on same row */
/* line 30, ../sass/components/_contact.scss */
#contact-filler .contact_icon {
  color: white;
  padding: 5px;
  font-size: 26px; }

/* line 36, ../sass/components/_contact.scss */
#contact-filler .contact_icon:hover {
  color: orange; }

/*--------------------end contact--------------------*/
/*-------------------- Processing --------------------*/
/* line 3, ../sass/components/_processing.scss */
.processing-canvas {
  margin: auto;
  display: block;
  padding: 5px; }

/*-------------------- End Processing --------------------*/
/*--------------------random effects on About page--------------------*/
/* line 3, ../sass/overrides/_index.scss */
.random, .random2, .showing_off, .whoa {
  color: #545454; }

/* line 7, ../sass/overrides/_index.scss */
.random:hover, .random2:hover, .showing_off:hover {
  font-size: 30px;
  font-family: Futura; }

/* line 11, ../sass/overrides/_index.scss */
p:hover .random {
  color: #1e45c8; }

/* line 15, ../sass/overrides/_index.scss */
p:hover .random2 {
  color: #32c814; }

/* line 19, ../sass/overrides/_index.scss */
p:hover .showing_off {
  color: #c826fa; }

/* line 23, ../sass/overrides/_index.scss */
span.whoa:hover {
  font-style: bold; }

/* line 27, ../sass/overrides/_index.scss */
span.secret {
  display: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 36, ../sass/overrides/_index.scss */
span.whoa:hover span.secret {
  display: inline;
  font-family: Futura; }

/*--------------------end random effects on About page--------------------*/
