/*--------------------Container stuff--------------------*/
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 77.8px 0px 60px 0px;
	color: rgb(84,84,84);
	background-color: rgba(250,250,250,1);
	line-height: 1.7em;
}


#content {
	padding: 0px 30px;
	background-color: none;
	max-width: 100%;
	height: 100%;
	margin: 0;
}




#parallax_portrait {
	background-image: url("../img/oil/selfportrait_4.jpg");
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
