/*-------------------- Processing --------------------*/

.processing-canvas {
	//width: 400px;
	margin: auto;
	display: block;
	padding: 5px;
}

/*-------------------- End Processing --------------------*/
