/*-------------------- BUTTONS --------------------*/

/*-------------------- Toggle --------------------*/

a.toggle-description:hover > img {
	opacity: 0.7;
}

a.toggle-description {
	cursor: pointer;
}


/*
a.toggle-description-button {
	position: absolute;
	z-index: 2;
	top: 50%;
	-webkit-transform: translateY(-12px);
	    -moz-transform: translateY(-12px);
    	-ms-transform: translateY(-12px);
    	-o-transform: translateY(-12px);
		transform: translateY(-12px);
	width: 24px;
	height: 24px;
	padding: 30px;
	background-color: rgba(1,1,1,0.5);
}
	a.toggle-description-button span {
		position: absolute;
		top: 32%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid white;
		border-bottom: 1px solid white;

		box-sizing: border-box;
		    -webkit-transition: all .5s ease;
	    	-moz-transition: all .5s ease;
	    	-ms-transition: all .5s ease;
	    	-o-transition: all .5s ease;
	    	transition: all .5s ease;

	    -webkit-transform: translateX(-36px);
	    	-moz-transform: translateX(-36px);
    		-ms-transform: translateX(-36px);
    		-o-transform: translateX(-36px);
			transform: translateX(-36px);
	}

	*/


/*-------------------- Scroll Buttons --------------------*/


a.scroll-button {
	/* !!! also, only show this with the horizontal gallery */
	position: absolute;
	z-index: 2;
	/*float: right;*/
	-webkit-transform: translateY(-12px); /* half of height, so middle of button is in the middle of div */
	    -moz-transform: translateY(-12px);
    	-ms-transform: translateY(-12px);
    	-o-transform: translateY(-12px);
		transform: translateY(-12px);
	width: 24px;
	height: 24px;
	padding: 30px;
	background-color: rgba(1,1,1,0.1);
}

	a.scroll-left, a.scroll-right {
		top: 50%; /* consider making all scroll buttons at bottom */
	}

	a.scroll-right {
		right: 15px;
	}

	a.scroll-down {
		bottom: 0;
		-webkit-transform: translateY(-36px);
	    	-moz-transform: translateY(-36px);
    		-ms-transform: translateY(-36px);
    		-o-transform: translateY(-36px);
			transform: translateY(-36px);
	}

a.scroll-button span {
	position: absolute;
	float: right;
	top: 32%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid white;
	border-bottom: 1px solid white;

	box-sizing: border-box;
	    -webkit-transition: all .5s ease;
    	-moz-transition: all .5s ease;
    	-ms-transition: all .5s ease;
    	-o-transition: all .5s ease;
    	transition: all .5s ease;
}

	a.scroll-left span {
		right: 20%;
		-webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
	    	-ms-transform: rotate(45deg);
	    	-o-transform: rotate(45deg);
			transform: rotate(45deg);
	}

	a.scroll-right span {
		right: 40%;
		-webkit-transform: rotate(-135deg);
		    -moz-transform: rotate(-135deg);
	    	-ms-transform: rotate(-135deg);
	    	-o-transform: rotate(-135deg);
			transform: rotate(-135deg);
	}

	a.scroll-down span {
		top: 20%;
		right: 28%;
		-webkit-transform: rotate(-45deg);
		    -moz-transform: rotate(-45deg);
	    	-ms-transform: rotate(-45deg);
	    	-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
	}

a.scroll-button:hover > span {
	border-left: 1px solid orange;
	border-bottom: 1px solid orange;

	/* !!! background-color changes, but not "color".
	find out what causes this line color */
}


/*--------------------Container stuff--------------------*/
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 77.8px 0px 60px 0px;
	color: rgb(84,84,84);
	background-color: rgba(250,250,250,1);
	line-height: 1.7em;
}


#content {
	padding: 0px;
	background-color: none;
	max-width: 100%;
	height: 100%;
	margin: 0;
}






#parallax_portrait {
	background-image: url("../img/oil/selfportrait_4.jpg");
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*--------------------For text layout--------------------*/

.main-text {
	width: 552px;
	min-width: 232px;
	max-width: 100%;
	padding: 100px 12%;
	margin-left: auto;
	margin-right: auto; /* to center text */
	text-align: left;
	color: rgb(84,84,84);
}

	@media only screen and (min-width: 815px) {
		.main-text {
			width: 66%;
			max-width: 600px;
			padding: 100px 50px;
		}
	}

/*--------------------End text layout--------------------*/

/*--------------------random effects on About page--------------------*/

.random, .random2, .showing_off, .whoa {
	color: rgb(84,84,84);
}

.random:hover, .random2:hover, .showing_off:hover {
	font-size: 30px;
	font-family: Futura;
}
	p:hover .random {
		color: rgb(30,69,200);
	}

	p:hover .random2 {
		color: rgb(50,200,20);
	}

	p:hover .showing_off {
		color: rgb(200,38,250);
	}

	span.whoa:hover {
		font-style: bold;
	}

	span.secret {
		display: none;
		-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	}

	span.whoa:hover span.secret {
		display: inline;
		font-family: Futura;
	}

/*--------------------end random effects on About page--------------------*/


/*--------------------contact--------------------*/
#contact-filler {
	float: center;
	background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: rgb(250,250,250);
}

#contact-filler h2, #contact-filler .main-text {
	color: rgb(250,250,250);
}

#contact-filler .contact-form__container {
	padding: 10px 0;
	text-align: right;
}

#contact-filler .contact-form__form {
	width: 90%;
}
/* media query for contact-form:
		under width: 485, have on separate rows
 		over width: 485, have on same row */

#contact-filler .contact_icon {
	color: white;
	padding: 5px;
	font-size: 26px;
}

#contact-filler .contact_icon:hover {
	color: orange;
}
/*--------------------end contact--------------------*/

/*-------------------- Processing --------------------*/

.processing-canvas {
	//width: 400px;
	margin: auto;
	display: block;
	padding: 5px;
}

/*-------------------- End Processing --------------------*/



/* Read More button: from http://cssdeck.com/labs/css-only-showhide */

	article {
	    /*margin-bottom: 3rem;*/
	    position: relative;
	    *zoom: 1;
	}

	article:before, article:after {
	    content: "";
	    display: table;
	}

	article:after { clear: both }

	section:first-of-type {
	    /*float: right;*/
	}

	section:last-of-type {
	    display: none;
	    visibility: hidden;
	}

	section {
	    -webkit-transition: .125s linear;
	    -moz-transition: .125s linear;
	    -ms-transition: .125s linear;
	    -o-transition: .125s linear;
	    transition: .125s linear;
	}

	section h3 {
		margin: 0;
	}

	input[type=checkbox] {
	    border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    width: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	}

	[for="read_more"] {
	    position: absolute;
	    bottom: -3rem;
	    left: 0;
	    width: 90%;
	    text-align: center;
	    padding: 0.65rem;
	    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	}

	[for="read_more"]:hover {
	    background: rgba(30,180,200,.5);
	    color: rgb(255,255,255);
	}

	[for="read_more"] span:last-of-type {
	    display: none;
	    visibility: hidden;
	}

	input[type=checkbox]:checked ~ section {
	    display: block;
	    visibility: visible;
	    width: 100%;
	}

	input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
	    display: none;
	    visibility: hidden;
	}

	input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
	    display: block;
	    visibility: visible;
	}
/* -------------------- end "Read More" styling --------------------*/
