

/*--------------------random effects on About page--------------------*/

.random, .random2, .showing_off, .whoa {
	color: rgb(84,84,84);
}

.random:hover, .random2:hover, .showing_off:hover {
	font-size: 30px;
	font-family: Futura;
}
	p:hover .random {
		color: rgb(30,69,200);
	}

	p:hover .random2 {
		color: rgb(50,200,20);
	}

	p:hover .showing_off {
		color: rgb(200,38,250);
	}

	span.whoa:hover {
		font-style: bold;
	}

	span.secret {
		display: none;
		-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	}

	span.whoa:hover span.secret {
		display: inline;
		font-family: Futura;
	}

/*--------------------end random effects on About page--------------------*/


/*--------------------contact--------------------*/
#contact-filler {
	float: center;
	background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/oil/selfportrait_4.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: rgb(250,250,250);
}

#contact-filler h2, #contact-filler .main-text {
	color: rgb(250,250,250);
}

#contact-filler .contact-form__container {
	padding: 10px 0;
	text-align: right;
}

#contact-filler .contact-form__form {
	width: 90%;
}
/* media query for contact-form:
		under width: 485, have on separate rows
 		over width: 485, have on same row */

#contact-filler .contact_icon {
	color: white;
	padding: 5px;
	font-size: 26px;
}

#contact-filler .contact_icon:hover {
	color: orange;
}
/*--------------------end contact--------------------*/

/*-------------------- Processing --------------------*/

.processing-canvas {
	//width: 400px;
	margin: auto;
	display: block;
	padding: 5px;
}

/*-------------------- End Processing --------------------*/



/* Read More button: from http://cssdeck.com/labs/css-only-showhide */

	article {
	    /*margin-bottom: 3rem;*/
	    position: relative;
	    *zoom: 1;
	}

	article:before, article:after {
	    content: "";
	    display: table;
	}

	article:after { clear: both }

	section:first-of-type {
	    /*float: right;*/
	}

	section:last-of-type {
	    display: none;
	    visibility: hidden;
	}

	section {
	    -webkit-transition: .125s linear;
	    -moz-transition: .125s linear;
	    -ms-transition: .125s linear;
	    -o-transition: .125s linear;
	    transition: .125s linear;
	}

	section h3 {
		margin: 0;
	}

	input[type=checkbox] {
	    border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    width: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	}

	[for="read_more"] {
	    position: absolute;
	    bottom: -3rem;
	    left: 0;
	    width: 90%;
	    text-align: center;
	    padding: 0.65rem;
	    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	}

	[for="read_more"]:hover {
	    background: rgba(30,180,200,.5);
	    color: rgb(255,255,255);
	}

	[for="read_more"] span:last-of-type {
	    display: none;
	    visibility: hidden;
	}

	input[type=checkbox]:checked ~ section {
	    display: block;
	    visibility: visible;
	    width: 100%;
	}

	input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
	    display: none;
	    visibility: hidden;
	}

	input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
	    display: block;
	    visibility: visible;
	}
/* -------------------- end "Read More" styling --------------------*/
