/*--------------------random effects on About page--------------------*/

.random, .random2, .showing_off, .whoa {
	color: rgb(84,84,84);
}

.random:hover, .random2:hover, .showing_off:hover {
	font-size: 30px;
	font-family: Futura;
}
	p:hover .random {
		color: rgb(30,69,200);
	}

	p:hover .random2 {
		color: rgb(50,200,20);
	}

	p:hover .showing_off {
		color: rgb(200,38,250);
	}

	span.whoa:hover {
		font-style: bold;
	}

	span.secret {
		display: none;
		-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	}

	span.whoa:hover span.secret {
		display: inline;
		font-family: Futura;
	}

/*--------------------end random effects on About page--------------------*/
