html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	/*background-image: url("feet.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: rgb(250,250,250);
	color: rgb(84, 84, 84);
	font-family: Open Sans, Raleway, Corbel, Futura, Helvetica Neue, Arial, Courier, Helvetica;
	text-align: center;
	margin: 0; /*top right bottom left*/
	overflow-x: hidden;
}

/*--------------------Links--------------------*/
a {
	color: rgb(0,160,120);
	text-decoration: none;
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
}
a:hover {
	color: orange;
}


/*--------------------H Fonts--------------------*/
h1,
h2 {
	font-family: Unica One, Voltaire, Corbel, Helvetica, Arial;
	text-align: center;
}

h2 {
	font-size: 30px;
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;
	color: rgb(0,160,120);
}

h2:hover {
	font-size: 35px;
}

h3 {
	font-family: Corbel, Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.4em;
}

h4 {
	font-family: Open Sans, Helvetica;
	font-size: 13px;
	line-height: 1.4em;
	text-align: left;
}

ul {
	text-align: left;
}
